.aboutCard {
  box-shadow: rgb(136 152 170 / 20%) 0px 0px 1rem 0px;
}

.imageContainer {
  position: relative;
}

.header {
  position: relative;
  width: 100%;
  height: auto;
}

.doubleBorder {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: auto;
  border: 3px solid rgb(128 128 128 / 50%);
  box-shadow: 0 0 4px 3px hsl(0deg 0% 0% / 50%);
}

@media (min-width: 0px) {
  .aboutContainer {
    padding-top: 5rem !important;
  }
}

@media (min-width: 576px) {
  .aboutContainer {
    padding-top: 8rem !important;
  }
}
@media (min-width: 768px) {
  .aboutContainer {
    padding-top: 11rem !important;
  }
}
@media (min-width: 992px) {
  .aboutContainer {
    padding-top: 4rem !important;
  }
}
@media (min-width: 1200px) {
  .aboutContainer {
    padding-top: 4rem !important;
  }
}
@media (min-width: 2560px) {
  .aboutContainer {
    padding-top: 9rem !important;
  }
}
